@import 'vars.scss';
@import 'ibg.scss';
@import 'fonts';

html, body {
	height: 100%;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	@include breakpoint(xs) {
		max-width: 540px;
	}

	@include breakpoint(sm) {
		max-width: 720px;
	}

	@include breakpoint(md) {
		max-width: 960px;
	}

	@include breakpoint(lg) {
		max-width: 1170px;
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.column {
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper {
	min-height: 100%;
}



